<!-- Instruction -->
<br> <br> <br>
<h1 class="instruct text-center">JumpIn !</h1>
<br> <br> <br>


<!-- SignUp Form -->
<%= form_for :user, url: signup_path do |f| %>

  <div class="card text-center card-new">


    <!-- First Action -->
    <p>
      <%= f.label :firstname, :class => 'title-label' %> <br>
      <%= f.text_field :firstname, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Second Action -->
    <p>
      <%= f.label :lastname, :class => 'title-label' %> <br>
      <%= f.text_field :lastname, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Third Action -->
    <p>
      <%= f.label :email, :class => 'title-label' %> <br>
      <%= f.text_field :email, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Fourth Action -->
    <p>
      <%= f.label :password, :class => 'title-label' %>
      <%= f.password_field :password, :class => 'form-control title-field form-alignment' %>
    </p>

    <!-- Finalization -->
    <p>
      <%= f.submit "Jump", :class => 'btn btn-primary' %> <br>
    </p>


  </div>


<% end %>