<!-- Instruction -->
<br> <br> <br>
<h1 class="instruct text-center">JumpIn !</h1>
<br> <br> <br>


<!-- SignUp Form -->
<%= form_tag home_path, method: :post do |f| %>

  <div class="card text-center card-new">


    <!-- First Action -->
    <p>
      <%= label_tag :firstname, :class => 'title-label' %> <br>
      <%= text_field_tag :firstname, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Second Action -->
    <p>
      <%= label_tag :lastname, :class => 'title-label' %> <br>
      <%= text_field_tag :lastname, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Third Action -->
    <p>
      <%= label_tag :email, :class => 'title-label' %> <br>
      <%= text_field_tag :email, :class => 'form-control title-field form-alignment' %> <br>
    </p>

    <!-- Fourth Action -->
    <p>
      <%= label_tag :password, :class => 'title-label' %>
      <%= password_field_tag :password, :class => 'form-control title-field form-alignment' %>
    </p>

    <!-- Sixth Action -->
    <p>
      <%= label_tag :password_confirmation, :class => 'title-label' %>
      <%= password_field_tag :password_confirmation, :class => 'form-control title-field form-alignment' %>
    </p>

    <!-- Finalization -->
    <p>
      <%= submit_tag "Jump", :class => 'btn btn-primary' %> <br>
    </p>


  </div>


<% end %>