<!-- Instruction -->
<br> <br> <br>
<h1 class="instruct text-center">Edit Post</h1>
<br> <br> <br>


<!-- Post Forum -->
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <div class="card text-center card-new">
    <div>

      <!-- Error Handling -->
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>

          <div class="alert alert-danger"> <%= msg %> </div>

        <% end %>
      <% end %>

      <!-- First Action -->
      <p>
        <%= f.label :title, :class => 'title-label'%> <br>
        <%= f.text_field :title, :class => 'form-control title-field form-alignment' %> <br>
      </p>

      <!-- Second Action -->
      <p>
        <%= f.label :body, :class => 'body-label' %> <br>
        <%= f.text_area :body , :class => 'form-control body-field form-alignment' %> <br>
      </p>

      <!-- Finalize -->
      <p>
        <%= f.submit :class => 'btn btn-primary' %> <br>
      </p>

    </div>
  </div>
<% end %>