<!-- Instruction -->
<h1>New Post</h1>


<!-- Post Forum -->
<%= form_for :post, url: posts_path do |f| %>

  <!-- First Action -->
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title, :class => 'form-control' %> <br>
  </p>

  <!-- Second Action -->
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body , :class => 'form-control' %> <br>
  </p>

  <!-- Finalize -->
  <p>
    <%= f.submit :class => 'btn btn-primary' %> <br>
  </p>

<% end %>