<!-- Navigation Bar -->
<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">

        <div>
          <!-- Logo-->
          <h3 class="masthead-brand text-justify logo">Lollipop</h3>

          <!-- SignUp & Login Buttons -->
          <%= link_to "SignUp", signup_path, :class => 'btn btn-primary signup-button' %>
          <%= link_to "Login", home_path, :class => 'btn btn-primary login-button' %>

        </div>

        <!-- NavItems -->
        <nav class="nav nav-masthead justify-content-center navbar-static-top">


          <div class="nav-item">

            <%= link_to "Home", home_path %>
            <%= link_to "Post", showall_path %>
            <%= link_to "About", about_path %>                                                                                                                             

          </div>


        </nav>

      </div>
    </header>

  </div>

</div>


<!-- Instruction -->
<br> <br> <br>
<h1 class="create-title text-center">Created Posts</h1>

<!-- Post Card -->
<% @post.each do |post| %>
  <div class="card card-show">

    <div class="card-body">
      <h5 class="card-title-show"> <%= post.title %> </h5>
      <h6 class="card-subtitle-show mb-2 text-muted">Genre</h6>
      <p class="card-text-show"> <%= post.body %> </p>
      <%= link_to "Read More", post_path(@post), :class => 'btn btn-primary read-more' %>
    </div>

  </div>
<% end %>

