<!-- Main Post -->
<div class="card card-show postshow-card">

  <div class="card-title-show">
    <h1 class="instruct text-center postshow-title"> <%= @post.title %> </h1>
  </div>

  <div class="card-text-show">
    <p class="text-center postshow-content"> <%= @post.body %> </p>
    <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary postshow-buttons' %>
    <%= link_to "Delete", post_path, method: :delete, data: {confirm: "Are You Sure You Want To \n Delete This Post ?!"} , :class => 'btn btn-danger postshow-buttons' %>
  </div>

</div>



<h4>Add Comments</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <!-- First Action -->
  <p>
    <%= f.label :username %> <br>
    <%= f.text_field :username, :class => 'form-control' %>
  </p>

  <!-- Second Action -->
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :class => 'form-control' %>
  </p>

  <!-- Finalization -->
  <p>
    <%= f.submit :class => 'btn btn-primary' %>
  </p>

<% end %>

<!-- Comments Section -->
<h3>Comments</h3>
<% @post.comments.each do |comment| %>

  <div>
    <p>
      <strong>
        <%= comment.username %>
      </strong>
      <%= comment.body %>
    </p>
  </div>

<% end %>