<!DOCTYPE html>
<html>

  <!-- Header Sources -->
  <head>

    <!-- Tags -->
    <title>RailsBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Sources -->
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <!-- Body Credentials -->
  <body>

    <!-- End -->
    <%= yield %>
  </body>

</html>
